@import url('https://fonts.googleapis.com/css?family=Montserrat')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/modal.styl'

@import 'components/hero.styl'
@import 'components/main-header.styl'
@import 'components/box.styl'

@import 'pages/index.styl'

@import 'modifications/modifications.styl'


// .grid--container
//   max-width 1540px

// .grid--container
//   max-width initial
//   padding 0 (184 / 1900 * 100)%

body
  background-color #fff


.tilt
  transform-style preserve-3d
  span
    transform: translateZ(20px)

.svg
  opacity 0

.replaced-svg 
  opacity 1

@import 'base/media.styl'


